@media only screen and (max-width: 760px) {

    /* Standardstil ohne Animation */
    .animate-on-scroll {
        opacity: 0;
    }
    
    /* Animation von links nach rechts */
    .animate-on-scroll-left.in-view {
        animation: imgslideleft 1s ease-out 0s 1 normal both;
    }
    
    @keyframes imgslideleft {
        0% {
            transform: translateX(-100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    
    /* Animation von rechts nach links */
    .animate-on-scroll-right.in-view {
        animation: imgslideright 1s ease-out 0s 1 normal both;
    }
    
    @keyframes imgslideright {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
    
    /* Animation von oben nach unten */
    .animate-on-scroll-top.in-view {
        animation: imgslidetop 1.5s ease-out 0s 1 normal both;
    }
    
    @keyframes imgslidetop {
        0% {
            transform: translateY(-100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    /* Animation von unten nach oben */
    .animate-on-scroll-bottom.in-view {
        animation: imgslidebottom 1s ease-out 0s 1 normal both;
    }
    
    @keyframes imgslidebottom {
        0% {
            transform: translateY(100%);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }
    
    /* Fade-in Animation */
    .animate-on-scroll-fade.in-view {
        animation: fadein 2s ease-out 1 normal both;
    }
    
    @keyframes fadein {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    
    
    
    /*
    animate-on-scroll animate-on-scroll-fade
    <div class="animate-on-scroll animate-on-scroll-left">Inhalt</div>
    <div class="animate-on-scroll animate-on-scroll-right">Inhalt</div>
    <div class="animate-on-scroll animate-on-scroll-top">Inhalt</div>
    <div class="animate-on-scroll animate-on-scroll-bottom">Inhalt</div>
    */
    
        html {
            scroll-behavior: smooth;
        }
        
        body {
            margin:0;
            background-color: rgb(22, 22, 22);
            flex-direction: column;
            font-family: quicksand;
            max-width: 100vw;
            display: flex;
            scrollbar-width: none; /* Mögliche Werte: auto, thin, none */
        }
    
            /* Gesamte Scrollbar */
        ::-webkit-scrollbar {
            width: 0px; /* Breite der Scrollbar */
        }
        
    
    
    
    
        .parallax_text {
            display: flex; /* Flexbox für das Parallax-Element */
            justify-content: center; /* Zentriere den Text horizontal */
            align-items: center; /* Zentriere den Text vertikal */
            min-height: 100vh; /* Höhe des Parallax-Elements */
            max-width: 100vw; /* Breite des Parallax-Elements */
            background-attachment: fixed; /* Parallax-Effekt */
            background-position: center; /* Hintergrundposition */
            background-repeat: no-repeat; /* Kein wiederholender Hintergrund */
            background-size: cover; /* Hintergrund auf ganze Größe skalieren */
            position: relative; /* Stellt sicher, dass der Inhalt relativ positioniert ist */
            text-align: center; /* Text zentrieren */
        }
    
        .parallax_text h1 {
            z-index: 1; /* Stellt sicher, dass der Text vor dem Hintergrund ist */
            font-size: 4vw; /* Anpassbare Schriftgröße */
            padding: 2vw;
            color: white;
            background-color: black;
            border-radius: 50px;
        }
    
    
    
    
        .parallax_cat1 {
            background-image: url(Fotos/placeholder.png);
            
            height: 100%;
            max-width: 100%;
    
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        
    
    
    
        #TopBar {
            width: 100%;
            display: flex;
            background-color: rgb(0, 0, 0, 0.8);
            backdrop-filter: blur(20px);
            align-items: center; /* Vertikale Zentrierung aller Inhalte in der TopBar */
            padding: 0 10px; /* Optionales Padding anpassen */
            margin: 0;
            animation: slideinTop 01.1s ease 1 normal both;
            z-index: 100000;
            position: fixed;
        }
        
        @keyframes slideinTop{
            0% {
                transform: translateY(-100%);
                opacity: 0;
            }
        
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
        
        .TopBarElements {
            display: flex;
            align-items: center; /* Vertikale Zentrierung der Inhalte */
            flex-grow: 1; /* Nimmt den verfügbaren Platz ein */
            justify-content: space-between; /* Verteilung der Elemente */
        }
        
        .TopBarContent {
            display: flex;
            align-items: center;
            flex-grow: 1; /* Erlaubt dem Container, den verfügbaren Platz einzunehmen */
        }
        
        #icon {
            display: flex;
            justify-content: center; /* Horizontale Zentrierung des Bildes */
            align-items: center; /* Vertikale Zentrierung des Bildes */
            height: 80px; /* Feste Höhe des Containers */
            width: 80px; /* Feste Breite des Containers */
            flex-shrink: 0; /* Verhindert, dass das Icon verkleinert wird */
            padding: 2vh 1vh;
        }
        
        #icon img {
            max-height: 100%; /* Skaliert das Bild relativ zur Containerhöhe */
            max-width: 100%; /* Skaliert das Bild relativ zur Containerbreite */
            object-fit: cover; /* Passt das Bild an, um es im Container zu halten */
            display: block; /* Entfernt unerwünschte Leerzeichen um das Bild */
            border-radius: 5px;
        }
        /*macht keinen sinn*/
        .categorys {
            display: flex;
            width: 40%; /* Sorgt dafür, dass das .categorys den gesamten Platz im Parent-Element (.cat) einnimmt */
            flex: 1; /* Nimmt den restlichen verfügbaren Platz ein */
            font-size: 1rem
        }
        
        .categorys ul {
            display: flex;
            justify-content: space-evenly; /* Verteilt die Kategorien gleichmäßig */
            flex-grow: 1;
            list-style: none;
            padding: 0;
            margin: 0;
            flex-wrap: wrap;
        }
        
        .categorys a {
            text-align: center; /* Zentriert den Text in jedem Listenelement */
            color: white;
            text-decoration: none;
            padding: 1.8rem;
        }
        
        .categorys a:hover {
            background-color: rgb(22, 22, 22);
            border-radius: 5px;
        }
        

    
    
    
    
    
        #category1 {
            display: flex;
            margin-top: 10rem;
            flex-wrap: wrap;
        }
    
        .Cat1-Content {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
        }
        
        #imgProfl {
            display: flex;
            flex-shrink: 0;
            width: 30rem;
            height: 30rem;
        }
        
        #imgProfl img {
            max-height: 100%; /* Skaliert das Bild relativ zur Containerhöhe */
            max-width: 100%; /* Skaliert das Bild relativ zur Containerbreite */
            object-fit: cover; /* Passt das Bild an, um es im Container zu halten */
            border-radius: 10px;

        }

        #text {
            color: white;
            text-align: center;
            flex-grow: 1;
            margin: 0 2rem;
            margin-bottom: 8rem;
            margin-top: 2rem;
        }
    
    
    
    
    
        .parallax_cat2 {
            background-image: url(Fotos/placeholder.png);
            
            height: 100%;
            max-width: 100%;
    
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size:auto;
        }
    
        #category2 {
            display: flex;
            justify-content: space-around; 
            align-items: center;
            margin: 4rem 0.5rem;
        }
        
        .Cat2-Content {
            display: flex;
            width: 100%;
            justify-content: space-between;
            flex-shrink: 0;
            margin-top: 2vw;
        }
        
        #left-themes, #right-themes {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            gap: 1rem;    
            }
        
        #img-topic1, #img-topic2, #img-topic3, #img-topic4 {
            display: flex;
            flex-grow: 1;
            max-width: 25vw; /* Beschränke die maximale Breite der Bildcontainer */
            max-height: 25vw; /* Beschränke die maximale Höhe der Bildcontainer */
    
        }
        
        #img-topic1 img, #img-topic2 img, #img-topic3 img, #img-topic4 img {
            width: 100%;
            height: 100%;
            object-fit: contain; 
            max-width: 100%; /* Verhindert, dass Bilder über die Containergröße hinauswachsen */
            max-height: 100%; 
            border-radius: 10px;
        }
    
        #cat2-text {
            display: flex;
            color: white;
            align-items: center;
            font-size: 2rem;
        }
    
    
    
    
    
        .flex-scroller {
            display: flex;
            justify-content: center;
            padding-bottom: 7.5vw;
        }
        
        .scroller {
            display: flex;
            width: 760px; /* Breite des Scrollers */
            height: 150px; /* Höhe des Scrollers */
            overflow: hidden;
            -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
            mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
        }
        
        .scroller__inner__right {
            display: flex;
            gap: 1rem; /* Abstand zwischen den Listenelementen */
            animation: scroll__right 14s linear infinite; /* Animationsdauer angepasst */
        }
    
        .scroller__inner__left {
            display: flex;
            gap: 1rem; /* Abstand zwischen den Listenelementen */
            animation: scroll__left 14s linear infinite; /* Animationsdauer angepasst */
        }
        
        .tag-list {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 1rem;
        }
        
        .tag-list li {
            width: 150px; /* Breite der Listenelemente */
            height: 150px; /* Höhe der Listenelemente */
            display: flex;
            justify-content: center;
            align-items: center;
            background: #3498db;
            border-radius: 0.5rem;
        }
        
        .tag-list li img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 0.5rem;
        }
    
        @keyframes scroll__left {
            0% {
                transform: translateX(0); /* Startposition */
            }
            100% {
                transform: translateX(-50%); /* Verschieben um 50% der Gesamtbreite */
            }
        }
    
        @keyframes scroll__right {
            0% {
                transform: translateX(-50%); /* Startposition */
            }
            100% {
                transform: translateX(0%); /* Verschieben um 50% der Gesamtbreite */
            }
        }
    
    
    
    
    
        #category3 {
            display: flex;
            padding-top: 20vh;
            padding-bottom: 10vh;
        }
        
    
    
        
    
        #Impressum {
            background-color: black;
            display: flex; /* Stellt sicher, dass die Kinder-Elemente in einer Reihe angezeigt werden */
            align-items: center; /* Zentriert die Elemente vertikal, falls erforderlich */
            padding: 1rem; /* Optional: Fügt etwas Innenabstand hinzu */
        }
        
        .Impressum-text {
            margin-bottom: 0; /* Entfernt den unteren Rand */
            flex-grow: 1; /* Nimmt den restlichen verfügbaren Platz ein */
            font-size: 1rem;
            color: white;
            justify-content: space-evenly; /* Verteilt die Kategorien gleichmäßig */
            display: flex;
            text-align: center; /* Macht sicher, dass die Textelemente in der Flexbox ausgerichtet werden */
            align-items: center;
            flex-wrap: wrap;
        }
        
        #haftung a {
            text-decoration: none;
            color: white;
        }
    
        #impressum-link a {
            text-decoration: none;
            color: white;
        }

        /*macht keinen sinn*/
        .links{
            display: flex;
            color: white; 
            padding: 1rem;
            font-size: 2rem;
            justify-content: center;
            background-color: black;
            padding: 2rem;
        }

        .links i {
            padding: 1rem;
        }
        
        
        }